<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>checking</servlet-name>
        <servlet-class>checking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checking</servlet-name>
        <url-pattern>/checking</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>checking1</servlet-name>
        <servlet-class>checking1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checking1</servlet-name>
        <url-pattern>/checking1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>upload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>upload1</servlet-name>
        <servlet-class>upload1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload1</servlet-name>
        <url-pattern>/upload1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>check1</servlet-name>
        <servlet-class>check1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>check1</servlet-name>
        <url-pattern>/check1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
